<header>
  <nav>
    <a href="/dashboard">Dashboard</a>
    <a href="/users">Utilisateurs</a>
    <a href="/catways">Catways</a>
    <a href="/reservations">Réservations</a>
    <a href="/docs">Documentation</a>
    <a href="/logout">Déconnexion</a>
  </nav>
</header>
<hr>
