<h1>Détails du catway</h1>

<p><strong>Numéro :</strong> <%= catway.catwayNumber %></p>
<p><strong>Type :</strong> <%= catway.catwayType %></p>
<p><strong>État :</strong> <%= catway.catwayState %></p>

<a href="/catways/<%= catway.catwayNumber %>/reservations">Voir les réservations</a>
<br><br>
<a href="/catways">Retour</a>
