<h1>Modifier le catway</h1>

<form action="/catways/<%= catway.catwayNumber %>?_method=PUT" method="POST">

  <label>Type</label>
  <select name="catwayType">
    <option value="long">Long</option>
    <option value="short">Short</option>
  </select>
  <label>État</label>
  <input type="text" name="catwayState" value="<%= catway.catwayState %>" required>

  <button type="submit">Mettre à jour</button>
</form>

<a href="/catways">Retour</a>