<h1>Bienvenue <%= user.username %>
</h1>
<p>Email : <%= user.email %>
</p>
<p>Date : <%= today.toLocaleDateString() %>
</p>

<nav>
  <a href="/catways">Catways</a>
  <a href="/reservations">Réservations</a>
  <a href="/users">Utilisateurs</a>
  <a href="/logout">Déconnexion</a>
</nav>