<h1>Port de Plaisance Russell</h1>
<p>Présentation de l’API Port Plaisance
Bienvenue sur l’API Port Plaisance, une plateforme conçue pour faciliter
 la gestion complète d’un port de plaisance moderne.</p>
<p>veuillez vous connecter pour accéder au dashboard.</p>
<p>utiliser votre email et votre mot de passe afin de pouvoir vous connecter.</p>
<form action="/login" method="POST">
  <input type="email" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Mot de passe">
  <button type="submit">Connexion</button>
</form>
